/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Orbitron:wght@400..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Jockey One", cursive;
    --primary-color: #89A894;
    --secondary-color: #ADFCF9;
    --tertiary-color: #4B644A;
}

/* GLOBAL STYLES */

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.container {
    position: relative;
    height: 70%;
    width: 100%;
    padding: 25px;
    background-color: var(--secondary-color);
}

/* Removes default bullet points and padding from list items */
ul {
    list-style-type: none;
    padding: 0;
}


button {
    background-color: var(--primary-color);
    font-size: 5rem; 
    color: var(--secondary-color);
}

h1 {
    text-transform: uppercase;
}

/* HEADER */
header {
    width: 100%;
    height: 20%;
    padding: 20px 0px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

/* SCORE AREA */
#score-area {
    border: 5px double var(--primary-color);
    width: 250px;
    margin: auto;
    font-size: 1rem;
    padding: 15px;
    position: relative;
}

.label {
    font-size: 1rem;
}

/* positions the player score label within the respective div */
#player-label {
    position: absolute;
    top: 15px;
    left: 25px;
}

/* positions the computer score label within the respective div */
#computer-label {
    position: absolute;
    top: 15px;
    right: 4px;
}

/* OUTCOME AREA */
#game-outcome {
    font-size: 1.5rem;
    margin-top: 20px;
}

.outcome {
    width: 120px;
    height: 120px;
    border: 5px solid var(--tertiary-color); 
    display: inline-block;
    margin-top: 20px;
}

.outcome h2 {
    font-size: 0.8rem;
}

#player-choice-icon, 
#computer-choice-icon {
    font-size: 3rem;
}

/* GAME AREA */
#call-to-action {
    margin-top: 20px;
    font-size: 1.5rem;
}

.choice {
    margin: 10px 5px;
    padding: 15px;
    font-size: 3.5rem;
}

.choice:hover {
    background-color:var(--tertiary-color);
}

/* STATS AREA */
table {
    width: 200px;
    margin: auto;
    text-align: left;
}

/* Sets constant width for the columns in the stats table */
td {
    width: 60px;
}

/* MEDIA QUERIES */

/* Styles for small (576px) and up */
@media screen and (min-width: 576px) {

    /* Makes body text larger above mobile screen size */
    body {
        font-size: 1rem;
    }

    /* Slightly widens the score display box on larger screens */
    #score-area {
        width: 300px;
        font-size: 1.5rem;
    }

    /* positions the player score label within the respective div */
    #player-label {
        top: 22px;
        left: 30px;
    }

    /* positions the computer score label within the respective div */
    #computer-label {
        top: 22px;
        right: 7px;
    }

    #game-outcome {
        font-size: 2rem;
        margin-top: 20px;
    }
    
    .outcome {
        width: 200px;
        height: 200px;
        margin-left: none;
    }

    .outcome h2 {
        font-size: 1.2rem;
    }    

    #player-choice-icon, 
    #computer-choice-icon {
        font-size: 6rem;
    }

    .choice {
        font-size: 5rem;
    }

    table {
        width: 400px;
    }

}