/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Orbitron:wght@400..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Jockey One", cursive;
    --primary-color: #89A894;
    --secondary-color: #ADFCF9;
    --tertiary-color: #4B644A;
    /* --highlight-color: #78b131;  */
}

/* GLOBAL STYLES */

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 70%;
    width: 100%;
    padding: 25px;
    background-color: var(--secondary-color);
}


ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: var(--primary-color);
    font-size: 5rem;
    color: var(--secondary-color);
}

button:hover {
    background-color: #89A894;
}

h1 {
    text-transform: uppercase;
}

/* HEADER */
header {
    width: 100%;
    height: 20%;
    padding: 20px 0px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

/* SCORE AREA */
#score-area {
    border: 5px double var(--primary-color);
    width: 300px;
    margin: auto;
    font-size: 1.5rem;
    padding: 15px;
    position: relative;
}

.label {
    font-size: 1rem;
}

#player-label {
    position: absolute;
    top: 22px;
    left: 30px;
}

#computer-label {
    position: absolute;
    top: 22px;
    right: 10px;
}

/* OUTCOME AREA */
#game-outcome {
    font-size: 2rem;
    margin-top: 20px;
}

/* GAME AREA */
#call-to-action {
    margin-top: 20px;
    font-size: 1.5rem;
}

.choice {
    margin: 20px 5px;
    padding: 15px;
}

.choice:hover {
    background-color:#4B644A;
}